Package: net.joshua.darkcarbon
Name: Dark Carbon
Version: 1.0
Architecture: iphoneos-arm
Description: Makes iOS Default Icons Darker
Homepage: https://deb-universe.zapto.org/
Maintainer: Joshua Wheeler <joshuawhe@proton.me>
Author: Joshua Wheeler <joshuawhe@proton.me>
Section: Themes
